table tr th h2 {
    color: dodgerblue;
         
}

img{
    display: block;
    margin-right: 75px;
}

.i{
    border-radius : 48% ;
    left: 20px ;
}

table TR tH TD {
    BORDER : 1PX SOLID dodgerblue;
    
}
table TR tH {
    BORDER : 1PX SOLID dodgerblue;
    
}


table tr th h1{
    color: dodgerblue;
    background-color: black;
    
}

.t1 TR:hover{
    background-color: dodgerblue;
}


H4{
    color: ORANGE;
}

